<o-form-layout-manager attr="AuditLog" mode="tab" title="AUDITLOG">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="AuditLogTable" 
            service="AuditLog" 
            entity="AuditLog" 
            title="AUDITLOG"
            keys="id"
            columns="table_name;user_id;action;timestamp;details;id" 
            header-actions="R;D"
            visible-columns="table_name;user_id;action;timestamp;details;id"  
            sort-columns="table_name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #table_name attr="table_name" title=" table_name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="user_id" title="user_id">
    <o-table-cell-renderer-service attr="user_id" 
        service="User" entity="UserType" columns="id;username"
        parent-keys="id:user_id"
        value-column="username" keys="user_id"
        visible-columns="username" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #action attr="action" title="action" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #timestamp attr="timestamp" title="timestamp" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #details attr="details" title="details" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>